---
title : ADVENTURE MOVIES
layout : base.njk
---

    
    <div id="img-container">
        {% for movie in data.adventureMovie %}
            <h1>{{movie.title}}</h1>
            <img src=https://image.tmdb.org/t/p/w500/{{movie.poster_path}}></img>
        {% endfor %}
    </div>
    <script src="/js/index.js"></script>
