---
title : COMEDY MOVIES
layout : base.njk
---

   

    <div class="container">
        {% for movie in data.comedyMovie %}
            <div class="img-card">
                <div classname="img">
                    <img src=https://image.tmdb.org/t/p/w500/{{movie.poster_path}} width=300px height=400px></img>
                </div>
                <h4>{{movie.title}}</h4>
            </div>
        {% endfor %}
    </div>
    <script src="/js/index.js"></script>
