---
title : Built with Template
layout : base.njk
---

    <h1>Hello  <span class="course"></span></h1>
    <h2>It's a nice day today</h2>
    <div id="img-container">
        {% for meme in data.memes %}
            <img src={{meme.url}}></img>
        {% endfor %}
    </div>
    <script src="/js/index.js"></script>
